body {
  background: #171e28;
  color: #E5E5E5;
  font-family: Roboto, sans-serif;
}

section {
  margin: auto;
  margin-top: 6em;
  width: 50%;
  text-align: center;
}

button {
  width: 250px;
  height: 40px;
  background-color: #171e28;
  color:#d5c7ac;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 12px;
}

ul li a {
  color: white;
}

#pizza {
  margin-top: 8em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
