body {
  background: #171e28;
  color: white;
  font-family: Roboto, sans-serif;
}

section {
  margin: auto;
  margin-top: 6em;
  width: 50%;
  text-align: center;
}

ul li a {
  color: white;
}

#pizza {
  margin-top: 8em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
