
body {
  background:  #E5E5E5;
  color:#d5c7ac;
  font-family: Roboto, sans-serif;
}

.content {
  width: 90%;
  margin: 0 auto;
  background-color: #171e28;
}

h1 h2 h3 p {
  color:#d5c7ac;
}

h1{
  font-size: 26pt;
}

h2{
  font-size: 24pt;
}

h3{
  font-size: 22pt;
}

section {
  margin: auto;
  margin-top: 6em;
  width: 50%;
  text-align: center;
}

button {
  font-size: 22pt;
  padding: 4px;
  width: 300px;
  min-height: 48px;
  background-color: #171e28;
  color:#d5c7ac;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 12px;
}

button:hover{
  background-color: #d5c7ac;
  color: #000;
  transition: .15s;
}

ul li a {
  color: white;
}

#pizza {
  margin-top: 8em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
