* {
    box-sizing: border-box;
}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
    }

    /* Modal Content */
    .modal-content {
      background-color: #171e28;
      margin: auto;
      padding: 20px;
      border: 5px solid #ff841e;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #ff841e;
      float: right;
      font-size: 30px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #d5c7ac;
      text-decoration: none;
      cursor: pointer;
    }

    /* The Close Button Takeaway */
    .closeT {
      color: #ff841e;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .closeT:hover,
    .closeT:focus {
      color: #d5c7ac;
      text-decoration: none;
      cursor: pointer;
    }
    /*Modal ferdig */

    /*Blur jobber videre senere*/
    #myBtn #myBtnT {
      /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

#menu_container {
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.filter_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#selectContainer {
    margin-right: 64px;
}

#dishes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dish_container {
    color: #d5c7ac;
    background-color: #171e28;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: space-around;
    background-color: #171e28;
    padding: 12px;
}

.img_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
}

#dish_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu_text>h2 {
    padding: 0px;
    margin: 4px;
    max-width: 300px;
}

.menu_text>p {
    max-width: 300px;
    padding: 0px;
    margin: 4px;
}

#order_ammount {
    display: block;
    text-align: center;
    padding-top: 16px;
}

input[type="number"] {
    margin-top: 4px;
    color: #d5c7ac;
    padding: 5px;
    background-color: #171e28;
    box-sizing: border-box;
    border: 1px solid #d5c7ac;
    border-radius: 4px;
    max-width: 72px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
         appearance: textfield;
    height: 36px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.customInput{
    display: flex;
    flex-direction: row;
    width: 72px;
}

.customInputButtons{
    position: relative;
    right: 24px;
    top: 8px;
    height: 36px;
    display: flex;
    flex-direction: column;
}

.customInputButton{
    border: 0px;
    font-size: 12px;
    min-width: 22px;
    max-height: 16px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.extra_padding {
    padding-top: 73px;
}

@media only screen and (max-width: 1489px) {
    .content {
        width: 100%;
    }
    .extra_padding {
        padding-top: 0px;
    }
}

.orderSummary {
    min-width: 200px;
    text-align: start;
}

.orderSection {
    width: 100%;
    margin: 0 auto;
}

.processOrderContainer {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px dotted #d5c7ac;
    padding: 12px;
    margin-bottom: 100px;
}

.orderButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.orderButtonContainer>h2 {
    margin-bottom: 12px;
}

.partnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

button {
    margin: 8px;
}

@media only screen and (max-width: 1200px) {
    .orderSection {
        justify-content: center;
        margin: 0 auto;
    }
    .orderSummary {
        max-width: 100px;
    }
    .processOrderContainer {
        min-width: 250px;
    }
}

.orderSection {
    padding-top: 12px;
}
