* {
    box-sizing: border-box;
}

#menu_poster {
    width: 100%;
}

#menu_container {
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.filter_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#selectContainer {
    margin-right: 64px;
}

#dishes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dish_container {
    color: #d5c7ac;
    background-color: #171e28;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: space-around;
    background-color: #171e28;
    padding: 12px;
}

.img_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
}

#dish_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu_text>h2 {
    padding: 0px;
    margin: 4px;
    font-size: 26pt;
    max-width: 300px;
}

.menu_text>p {
    max-width: 400px;
    padding: 0px;
    margin: 4px;
    font-size: 18pt;
}

#order_ammount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.extra_padding {
    padding-top: 73px;
}

input[type="number"] {
    margin-top: 4px;
    color: #d5c7ac;
    padding: 5px;
    background-color: #171e28;
    box-sizing: border-box;
    border: 1px solid #d5c7ac;
    border-radius: 4px;
    max-width: 64px;
}

@media only screen and (max-width: 1489px) {
    .content {
        width: 100%;
    }
    .extra_padding {
        padding-top: 0px;
    }
}

.orderSummary {
    min-width: 200px;
    text-align: start;
    padding-left: 24px;
}

.orderSection {
    width: 100%;
    margin: 0 auto;
    padding: 100px;
}

.processOrderContainer {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px dotted #d5c7ac;
    padding: 12px;
}

.orderButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-right: 12px;
    margin-left: 12px;
}

.orderButtonContainer>h2 {
    margin-bottom: 12px;
}

.partnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

button {
    margin: 4px;
}

@media only screen and (max-width: 1600px) {
    .orderSection {
        justify-content: center;
        margin: 0 auto;
    }
    .orderSummary {
        max-width: 100px;
    }
    .processOrderContainer {
        min-width: 250px;
    }
}

.orderSection {
    padding-top: 12px;
}